---
---


// EVOGRIA //

@font-face {
    font-family: "Evogria";
    src: url("./fonts/evogria-webfont.woff2") format("woff2"),
         url("./fonts/evogria-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;

}

// SF Pro Display //

@font-face {
    font-family: "SFProDisplay-Bold";
    src: url("./fonts/SFProDisplay/SFProDisplay-Bold.eot");
    src: url("./fonts/SFProDisplay/SFProDisplay-Bold.eot?#iefix") format("embedded-opentype"),
        url("./fonts/SFProDisplay/SFProDisplay-Bold.woff2") format("woff2"),
        url("./fonts/SFProDisplay/SFProDisplay-Bold.woff") format("woff"),
        url("./fonts/SFProDisplay/SFProDisplay-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SFProDisplay-Thin";
    src: url("./fonts/SFProDisplay/SFProDisplay-Thin.eot");
    src: url("./fonts/SFProDisplay/SFProDisplay-Thin.eot?#iefix") format("embedded-opentype"),
        url("./fonts/SFProDisplay/SFProDisplay-Thin.woff2") format("woff2"),
        url("./fonts/SFProDisplay/SFProDisplay-Thin.woff") format("woff"),
        url("./fonts/SFProDisplay/SFProDisplay-Thin.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SFProDisplay-Regular";
    src: url("./fonts/SFProDisplay/SFProDisplay-Regular.eot");
    src: url("./fonts/SFProDisplay/SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"),
        url("./fonts/SFProDisplay/SFProDisplay-Regular.woff2") format("woff2"),
        url("./fonts/SFProDisplay/SFProDisplay-Regular.woff") format("woff"),
        url("./fonts/SFProDisplay/SFProDisplay-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SFProDisplay-Semibold";
    src: url("./fonts/SFProDisplay/SFProDisplay-Semibold.eot");
    src: url("./fonts/SFProDisplay/SFProDisplay-Semibold.eot?#iefix") format("embedded-opentype"),
        url("./fonts/SFProDisplay/SFProDisplay-Semibold.woff2") format("woff2"),
        url("./fonts/SFProDisplay/SFProDisplay-Semibold.woff") format("woff"),
        url("./fonts/SFProDisplay/SFProDisplay-Semibold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SFProDisplay-Medium";
    src: url("./fonts/SFProDisplay/SFProDisplay-Medium.eot");
    src: url("./fonts/SFProDisplay/SFProDisplay-Medium.eot?#iefix") format("embedded-opentype"),
        url("./fonts/SFProDisplay/SFProDisplay-Medium.woff2") format("woff2"),
        url("./fonts/SFProDisplay/SFProDisplay-Medium.woff") format("woff"),
        url("./fonts/SFProDisplay/SFProDisplay-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SFProDisplay-Black";
    src: url("./fonts/SFProDisplay/SFProDisplay-Black.eot");
    src: url("./fonts/SFProDisplay/SFProDisplay-Black.eot?#iefix") format("embedded-opentype"),
        url("./fonts/SFProDisplay/SFProDisplay-Black.woff2") format("woff2"),
        url("./fonts/SFProDisplay/SFProDisplay-Black.woff") format("woff"),
        url("./fonts/SFProDisplay/SFProDisplay-Black.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SFProDisplay-Light";
    src: url("./fonts/SFProDisplay/SFProDisplay-Light.eot");
    src: url("./fonts/SFProDisplay/SFProDisplay-Light.eot?#iefix") format("embedded-opentype"),
        url("./fonts/SFProDisplay/SFProDisplay-Light.woff2") format("woff2"),
        url("./fonts/SFProDisplay/SFProDisplay-Light.woff") format("woff"),
        url("./fonts/SFProDisplay/SFProDisplay-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SFProDisplay-Ultralight";
    src: url("./fonts/SFProDisplay/SFProDisplay-Ultralight.eot");
    src: url("./fonts/SFProDisplay/SFProDisplay-Ultralight.eot?#iefix") format("embedded-opentype"),
        url("./fonts/SFProDisplay/SFProDisplay-Ultralight.woff2") format("woff2"),
        url("./fonts/SFProDisplay/SFProDisplay-Ultralight.woff") format("woff"),
        url("./fonts/SFProDisplay/SFProDisplay-Ultralight.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SFProDisplay-Heavy";
    src: url("./fonts/SFProDisplay/SFProDisplay-Heavy.eot");
    src: url("./fonts/SFProDisplay/SFProDisplay-Heavy.eot?#iefix") format("embedded-opentype"),
        url("./fonts/SFProDisplay/SFProDisplay-Heavy.woff2") format("woff2"),
        url("./fonts/SFProDisplay/SFProDisplay-Heavy.woff") format("woff"),
        url("./fonts/SFProDisplay/SFProDisplay-Heavy.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

// SF Mono //

@font-face {
    font-family: "SFMono-Medium";
    src: url("./fonts/SFMono/SFMono-Medium.eot");
    src: url("./fonts/SFMono/SFMono-Medium.eot?#iefix") format("embedded-opentype"),
        url("./fonts/SFMono/SFMono-Medium.woff2") format("woff2"),
        url("./fonts/SFMono/SFMono-Medium.woff") format("woff"),
        url("./fonts/SFMono/SFMono-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SFMono-Semibold";
    src: url("./fonts/SFMono/SFMono-Semibold.eot");
    src: url("./fonts/SFMono/SFMono-Semibold.eot?#iefix") format("embedded-opentype"),
        url("./fonts/SFMono/SFMono-Semibold.woff2") format("woff2"),
        url("./fonts/SFMono/SFMono-Semibold.woff") format("woff"),
        url("./fonts/SFMono/SFMono-Semibold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SFMono-Light";
    src: url("./fonts/SFMono/SFMono-Light.eot");
    src: url("./fonts/SFMono/SFMono-Light.eot?#iefix") format("embedded-opentype"),
        url("./fonts/SFMono/SFMono-Light.woff2") format("woff2"),
        url("./fonts/SFMono/SFMono-Light.woff") format("woff"),
        url("./fonts/SFMono/SFMono-Light.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SFMono-Heavy";
    src: url("./fonts/SFMono/SFMono-Heavy.eot");
    src: url("./fonts/SFMono/SFMono-Heavy.eot?#iefix") format("embedded-opentype"),
        url("./fonts/SFMono/SFMono-Heavy.woff2") format("woff2"),
        url("./fonts/SFMono/SFMono-Heavy.woff") format("woff"),
        url("./fonts/SFMono/SFMono-Heavy.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SFMono-Bold";
    src: url("./fonts/SFMono/SFMono-Bold.eot");
    src: url("./fonts/SFMono/SFMono-Bold.eot?#iefix") format("embedded-opentype"),
        url("./fonts/SFMono/SFMono-Bold.woff2") format("woff2"),
        url("./fonts/SFMono/SFMono-Bold.woff") format("woff"),
        url("./fonts/SFMono/SFMono-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SFMono-Regular";
    src: url("./fonts/SFMono/SFMono-Regular.eot");
    src: url("./fonts/SFMono/SFMono-Regular.eot?#iefix") format("embedded-opentype"),
        url("./fonts/SFMono/SFMono-Regular.woff2") format("woff2"),
        url("./fonts/SFMono/SFMono-Regular.woff") format("woff"),
        url("./fonts/SFMono/SFMono-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}













@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'fontawesome-all.min.css';
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,600');

/*
	Dimension by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
*/

// Breakpoints.

	@include breakpoints((
		xlarge:   ( 1281px,  1680px ),
		large:    ( 981px,   1280px ),
		medium:   ( 737px,   980px  ),
		small:    ( 481px,   736px  ),
		xsmall:   ( 361px,   480px  ),
		xxsmall:  ( null,    360px  )
	));

// Base.

	@import 'base/reset';
	@import 'base/page';
	@import 'base/typography';

// Component.

	@import 'components/form';
	@import 'components/box';
	@import 'components/icon';
	@import 'components/image';
	@import 'components/list';
	@import 'components/actions';
	@import 'components/icons';
	@import 'components/table';
	@import 'components/button';

// Layout.

	@import 'layout/bg';
	@import 'layout/wrapper';
	@import 'layout/header';
	@import 'layout/main';
	@import 'layout/footer';